<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>co.jumpschool.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>serve</servlet-name>
		<servlet-class>co.jumpschool.Serve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	

    <servlet>
		<servlet-name>getmetrics</servlet-name>
		<servlet-class>co.jumpschool.GetMetricsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getmetrics</servlet-name>
		<url-pattern>/getmetrics</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>savemetrics</servlet-name>
		<servlet-class>co.jumpschool.SaveMetricsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savemetrics</servlet-name>
		<url-pattern>/savemetrics</url-pattern>
	</servlet-mapping>
    
	<servlet>
		<servlet-name>createroadmap</servlet-name>
		<servlet-class>co.jumpschool.CreateRoadmapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createroadmap</servlet-name>
		<url-pattern>/createroadmap</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>getroadmap</servlet-name>
		<servlet-class>co.jumpschool.GetRoadmapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getroadmap</servlet-name>
		<url-pattern>/getroadmap</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>saveroadmap</servlet-name>
		<servlet-class>co.jumpschool.SaveRoadmapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveroadmap</servlet-name>
		<url-pattern>/saveroadmap</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listcomments</servlet-name>
		<servlet-class>co.jumpschool.ListCommentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listcomments</servlet-name>
		<url-pattern>/listcomments</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>savecomment</servlet-name>
		<servlet-class>co.jumpschool.SaveCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savecomment</servlet-name>
		<url-pattern>/savecomment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>wall</servlet-name>
		<servlet-class>co.jumpschool.ListWallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wall</servlet-name>
		<url-pattern>/wall</url-pattern>
	</servlet-mapping>
    
</web-app>